:root {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  line-height: 2rem;
  font-weight: 400;

  color-scheme: light dark;
  color: var(--light);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  --dark: #213547;
  --light: #dfdfdf;
  --accent: #747bff;
  --accent-light: #a6a6ff;
}

@media (prefers-color-scheme: light) {
  :root {
    color: var(--dark);
    background-color: var(--light);
  }
  button {
    background-color: var(--light);
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

nav {
  align-items: center;
  padding: 0.8rem 0;
  background-color: var(--accent-light);
}

.nav-list {
  display: flex;
  flex-direction: row;
  list-style: none;
  justify-content: space-evenly;
}

.nav-link {
  font-size: large;
  color: var(--dark);
  text-decoration: none;
  font-weight: 700;
}

header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 1rem;
  height: calc(100vh - 3.8rem);
}

.front {
  font-size: 1rem;
  font-weight: 500;
  color: var(--accent);
}

.front h1 {
  font-size: 3rem;
  font-weight: 700;
}

.welcome-text {
  padding-bottom: 15vh;
}

.hide {
  opacity: 0 !important;
}

.welcome {
  opacity: 1;
  transition: opacity 0.5s ease-in-out;
}
