:root {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  line-height: 2rem;
  font-weight: 400;

  color-scheme: light dark;
  color: var(--light);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  /* Colors */

  --dark: #213547;
  --light: #dfdfdf;
  --accent: #0445f5;
  --accent-light: #00b7ff;

  /* Font sizes */

  --font-nav: clamp(0.75rem, 1.5vw + 0.5rem, 2rem);

  --font-hello: clamp(1rem, 5vw + 2rem, 5rem);
  --font-welcome: clamp(1.5rem, 3vw + 0.5rem, 3rem);

  --font-2xl: clamp(2rem, 2.5vw + 1.25rem, 2.5rem);
  --font-xl: clamp(1.5rem, 2vw + 1rem, 2rem);
  --font-lg: clamp(1.25rem, 1.5vw + 0.75rem, 1.5rem);
  --font-md: clamp(1rem, 1vw + 0.5rem, 1.25rem);
  --font-sm: clamp(0.75rem, 0.75vw + 0.25rem, 1rem);
  --font-xs: clamp(0.5rem, 0.5vw, 0.75rem);
}

@media (prefers-color-scheme: light) {
  :root {
    color: var(--dark);
    background-color: var(--light);
  }
  button {
    background-color: var(--light);
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  -webkit-user-drag: none;
  -khtml-user-drag: none;
  -moz-user-drag: none;
  -o-user-drag: none;
}

body {
  overflow-x: hidden;
}

section {
  scroll-snap-type: proximity;
  scroll-snap-align: start;
}

.no-select {
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  align-items: center;
  padding: 0.8rem 0;
  background: -webkit-linear-gradient(0deg, var(--accent-light), var(--accent));
  box-shadow: 0 0.5rem 1rem rgba(0, 190, 200, 0.3);
  z-index: 10;
}

.nav-list {
  display: flex;
  flex-direction: row;
  list-style: none;
  justify-content: space-evenly;
}

.nav-link {
  font-size: var(--font-nav);
  color: var(--light);
  text-decoration: none;
  font-weight: 800;
}

.nav-link:hover {
  transition: all 0.15s ease-in-out;
  color: var(--dark);
  text-decoration: underline;
}

header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 1rem;
  height: calc(100vh - 3.8rem);
}

header img {
  position: absolute;
  width: 100%;
  height: 52.5%;
  z-index: -1;
  filter: blur(5px);
}

.front {
  font-weight: 400;
  color: var(--accent-light);
  text-shadow: 2px 2px 0 var(--light);
}

.front h1 {
  font-size: var(--font-hello);
  font-weight: 700;
  animation: slideInRight 1s ease-in-out;
}

.front h2 {
  font-size: var(--font-welcome);
  background: -webkit-linear-gradient(0deg, var(--accent-light), var(--light));
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-decoration: dotted underline;
  padding-bottom: 2rem;
  line-height: 3rem;
  font-weight: 900;
  text-shadow: 2px 2px 0 var(--light);
  animation: slideInLeft 1s ease-in-out;
  animation: bounce 5s ease infinite;
}

.front h3 {
  font-size: calc(var(--font-welcome) * 0.8);
  background: -webkit-linear-gradient(0deg, var(--accent-light), var(--light));
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-decoration: underline;
  animation: slideInRight 1s ease-in-out;
  padding-bottom: 2rem;
  line-height: 3rem;
  font-weight: 900;
  text-shadow: 2px 2px 0 var(--light);
}

.welcome-text {
  padding-bottom: 15vh;
}

.hide {
  opacity: 0 !important;
}

.welcome {
  opacity: 1;
  transition: opacity 0.5s ease-in-out;
}

section {
  height: 100vh;
}

.section-title {
  padding-top: 6rem;
}

#contact > div {
  height: 100%;
}

.form-wrapper {
  margin-top: 4%;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  max-width: max-content;
  margin: 0 10% 0 auto;
  border: var(--accent-light) 4px solid;
  border-radius: 1rem;
}

form > * {
  width: 100%;
  padding: 0.5rem;
  border-radius: 2px;
}

form > textarea {
  resize: none;
  margin-bottom: 0.5rem;
}

.notification {
  display: flex;
  padding: 1rem;
  align-items: center;
  max-width: max-content;
  margin: 25vh 10% 0 auto;
  border: var(--accent-light) 4px solid;
  border-radius: 1rem;
  position: fixed;
  background-color: #213547;
  left: -500px;
  transition: all ease-in-out 1s;
  animation: slideInRight 1s ease-in-out;
}

.notification img {
  max-height: 100px;
  margin-left: 2rem;
}

#error {
  text-decoration: underline;
  color: lightcoral;
}

#skills {
  overflow-y: auto;
  overflow-x: hidden;
}

.skill-set {
  margin-top: auto;
}

.skill {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  height: 100%;
  grid-gap: auto;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  margin: 1rem;
  border: var(--accent-light) 4px solid;
  border-radius: 1rem;
  text-align: center;
  font-size: 1.4rem;
  font-weight: bold;
  background-color: #213547;
}

#projects > * {
  height: 80%;
}

.projects {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-template-rows: repeat(auto-fit, minmax(200px, 1fr));
  min-height: 90vh;
  height: 100%;
  align-items: center;
  justify-items: center;
  margin: 1rem;
  border: var(--accent-light) 4px solid;
  border-radius: 1rem;
  background-color: #213547;
  overflow-y: auto;
  overflow-x: hidden;
}

.project-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 90%;
  height: 100%;
  text-align: center;
  /* Line spacing */
  line-height: 1.5;
}

.project-card h1 {
  margin-top: 1rem;
}

.project > *:first-child h1 {
  margin-top: 10rem;
}

.project-card p {
  font-weight: 700;
  flex-wrap: wrap;
  text-align: center;
  width: 80%;
  margin-bottom: 1rem;
  animation: slideInRight 1s ease-in-out;
}

.project-card > img {
  background-size: contain;
  width: fit-content;
  max-width: 50%;
  border-radius: 1rem;
  margin-top: 1rem;
}

@media (min-width: 800px) {
  .projects {
    grid-template-columns: repeat(2, minmax(400px, 1fr));
    grid-template-rows: repeat(2t, minmax(200px, 1fr));
  }

  .project-card p {
    margin-bottom: 2rem;
  }

  .project-card > img {
    max-width: 30%;
  }
}

@media (max-width: 900px) {
  .project-card > img {
    max-width: 20%;
  }
}

@media (max-width: 768px) {
  .front h2 {
    text-shadow: 1px 1px 0 var(--light);
  }

  .front h3 {
    text-shadow: 1px 1px 0 var(--light);
  }

  form {
    margin: 0 5% 0 auto;
  }

  .project-card {
    font-size: 0.8rem;
  }
}

@media (max-width: 425px) {
  form {
    margin: 0 auto 0 auto;
  }
}

@keyframes slideInRight {
  0% {
    transform: translateX(-100vh);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes slideInLeft {
  0% {
    transform: translateX(100vh);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes bounce {
  0% {
    transform: scale(1, 1) translateY(0);
  }
  5% {
    transform: scale(1.1, 0.9) translateY(0);
  }
  15% {
    transform: scale(0.9, 1.1) translateY(-35px);
  }
  35% {
    transform: scale(1.05, 0.95) translateY(0);
  }
  43% {
    transform: scale(1, 1) translateY(-7px);
  }
  50% {
    transform: scale(1, 1) translateY(0);
  }
  85% {
    transform: scale(1, 1) translateY(0);
  }
  100% {
    transform: scale(1, 1) translateY(0);
  }
}
